.container {
  max-width: 90%;
  margin: 0 auto;
}
#About {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .About_border {
    display: flex;
    align-items: center;
    gap: 30px;
    .box-1 {
      display: none;
    }
    .About_box {
      padding: 24px;
      border-radius: 8px;
      background: #f3f3f3;
      p {
        color: $color-1;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 56px;
      }
      .About_img {
        margin-bottom: 16px;
        img {
          width: 64px;
          height: 64px;
        }
      }
      h4 {
        color: $color-1;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.1px;
      }
    }
    .About_box:hover{
        background-color:$color-1;
        cursor: pointer;
        p{
            color:$color-3;
        }
        h4{
            color:$color-3
        }
    }

  }
  .About_cyrcle{
    display: flex;
    align-items: center;
    justify-content: center;  
    gap: 15px;
    .A_circle{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #F3F3F3;
      
    }
    .A_circle:hover{
        background: $color-1;
    }
}
}
@media screen and (min-width: 696px){
    .container {
        max-width: 90%;
      }
      #About {
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .About_border {
          display: flex;
          align-items: center;
          gap: 30px;
          justify-content:space-between;
          .box-1 {
            display: inline-block;
            padding: 30px;
            border-radius: 8px;
            background: #f3f3f3;
            p {
              color: $color-1;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              margin-bottom: 56px;
            }
            .About_img {
              margin-bottom: 16px;
              img {
                width: 64px;
                height: 64px;
              }
            }
            h4 {
              color: $color-1;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 24px;
              letter-spacing: 0.1px;
            }
          }
          .box-1:hover{
            background-color:$color-1;
            cursor: pointer;
            p{
                color:$color-3;
            }
            h4{
                color:$color-3
            }
        }
        .box-2{
            display: none;
        }
          .About_box {
            width: 900px;
            padding: 24px;
            border-radius: 8px;
            background: #f3f3f3;
            p {
              color: $color-1;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              margin-bottom: 56px;
            }
            .About_img {
              margin-bottom: 16px;
              img {
                width: 64px;
                height: 64px;
              }
            }
            h4 {
              color: $color-1;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 24px;
              letter-spacing: 0.1px;
            }
          }
    
      
        }
        .About_cyrcle{
          display: flex;
          align-items: center;
          justify-content: center;  
          gap: 15px;
          .A_circle{
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background: #F3F3F3;
            
          }
          .A_circle:hover{
              background: $color-1;
          }
      }
      }   
}
@media screen and (min-width: 1025px){
    .container {
        max-width:90%;
      }
      #About {
        padding: 48px 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-left: -50px;
        margin-right: -50px;
        .About_border {
          display: flex;
          align-items: center;
          gap: 56px;
          justify-content:space-between;
          .box-1 {
            display: inline-block;
            padding: 30px;
            border-radius: 8px;
            background: #f3f3f3;
            p {
              color: $color-1;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              margin-bottom: 56px;
            }
            .About_img {
              margin-bottom: 16px;
              img {
                width: 64px;
                height: 64px;
              }
            }
            h4 {
              color: $color-1;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 24px;
              letter-spacing: 0.1px;
            }
          }
          .box-1:hover{
            background-color:$color-1;
            cursor: pointer;
            p{
                color:$color-3;
            }
            h4{
                color:$color-3
            }
        }
        .box-2{
            display: inline-block;
            padding: 30px;
            border-radius: 8px;
            background: #f3f3f3;
            p {
              color: $color-1;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              margin-bottom: 56px;
            }
            .About_img {
              margin-bottom: 16px;
              img {
                width: 64px;
                height: 64px;
              }
            }
            h4 {
              color: $color-1;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 24px;
              letter-spacing: 0.1px;
            }
          }
          .box-2:hover{
            background-color:$color-1;
            cursor: pointer;
            p{
                color:$color-3;
            }
            h4{
                color:$color-3
            }
        }
          .About_box {
            width: 900px;
            padding: 24px;
            border-radius: 8px;
            background: #f3f3f3;
            p {
              color: $color-1;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              margin-bottom: 56px;
            }
            .About_img {
              margin-bottom: 16px;
              img {
                width: 64px;
                height: 64px;
              }
            }
            h4 {
              color: $color-1;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 24px;
              letter-spacing: 0.1px;
            }
          }
          .About_box:hover{
            background-color:$color-1;
            cursor: pointer;
            p{
                color:$color-3;
            }
            h4{
                color:$color-3
            }
        }
    
      
        }
        .About_cyrcle{
          display: flex;
          align-items: center;
          justify-content: center;  
          gap: 15px;
          .A_circle{
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background: #F3F3F3;
            
          }
          .A_circle:hover{
              background: $color-1;
          }
      }
      }   
}
@media screen and (min-width: 1440px){
    .container {
        max-width:1388px;
      }
      #About {
        padding: 96px 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-left: 0;
        margin-right: 0;
        .About_border {
          display: flex;
          align-items: center;
          gap: 56px;
          justify-content:space-between;
          .box-1 {
            display: inline-block;
            padding: 30px;
            border-radius: 8px;
            background: #f3f3f3;
            p {
              color: $color-1;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              margin-bottom: 56px;
            }
            .About_img {
              margin-bottom: 16px;
              img {
                width: 64px;
                height: 64px;
              }
            }
            h4 {
              color: $color-1;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 24px;
              letter-spacing: 0.1px;
            }
          }
          .box-1:hover{
            background-color:$color-1;
            cursor: pointer;
            p{
                color:$color-3;
            }
            h4{
                color:$color-3
            }
        }
        .box-2{
            display: inline-block;
            padding: 30px;
            border-radius: 8px;
            background: #f3f3f3;
            p {
              color: $color-1;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              margin-bottom: 56px;
            }
            .About_img {
              margin-bottom: 16px;
              img {
                width: 64px;
                height: 64px;
              }
            }
            h4 {
              color: $color-1;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 24px;
              letter-spacing: 0.1px;
            }
          }
          .box-2:hover{
            background-color:$color-1;
            cursor: pointer;
            p{
                color:$color-3;
            }
            h4{
                color:$color-3
            }
        }
          .About_box {
            width: 900px;
            padding: 24px;
            border-radius: 8px;
            background: #f3f3f3;
            p {
              color: $color-1;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              margin-bottom: 56px;
            }
            .About_img {
              margin-bottom: 16px;
              img {
                width: 64px;
                height: 64px;
              }
            }
            h4 {
              color: $color-1;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 24px;
              letter-spacing: 0.1px;
            }
          }
          .About_box:hover{
            background-color:$color-1;
            cursor: pointer;
            p{
                color:$color-3;
            }
            h4{
                color:$color-3
            }
        }
    
      
        }
        .About_cyrcle{
  display: none;
      }
      }   
}
