$font-1: 'Kulim Park', sans-serif;
$font-2:'Inter', sans-serif;
$color-1: #000;
$color-2: rgba(0, 0, 0, 0.84);
$color-3: #FFF;
$background-1: #F3F3F3;
$color-4: rgba(0, 0, 0, 0.5);
$button-color:#FFCF23;